.custom-button {
    background-color: #28a745; /* Nova cor de fundo */
    border: 2px solid #28a745; /* Nova cor da borda */
    color: white; /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    padding: 10px 20px; /* Padding personalizado */
    border-radius: 10px; /* Bordas arredondadas */
    transition: background-color 0.3s ease; /* Transição suave */
}

.custom-button:hover {
    background-color: #218838; /* Cor ao passar o mouse */
    border-color: #218838; /* Cor da borda ao passar o mouse */}