.container{
  flex-direction: column;
}

.section1{
  display: flex;
  align-items: flex-end;
}

.textContainer {
  display: flex; /* Define layout flexível */
  flex-direction: column; /* Coloca os <p> em uma coluna */
  margin-left: 1%;
}

.foto1{
    border-radius: 3%; /* Faz a imagem ficar redonda */
    width: 40%; /* Define 50% do tamanho original */
  }

.p1{
  display: flex;
}

.foto2{
  border-radius: 100%;
  width: 8%;
}

.title{
  display: flex;
  padding: 10px;
}

.section2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%; /* Certifique-se de usar toda a largura disponível */
  margin: 0 auto; /* Centraliza o grid na página */
}

.box {
  width: 90%;
  display: flex; /* Usa flexbox para alinhar imagem e texto lado a lado */
  align-items: end; /* Alinha verticalmente ao centro */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  gap: 10px; /* Espaço entre imagem e texto */
}


.box img {
  max-width: 30%;
  height: auto;
  border-radius: 4px;
}

.box p {
  flex: 1; /* Faz o texto ocupar o espaço restante */
  margin: 0; /* Remove margens padrão do <p> */
}