.container{
  color:white;
  flex-direction: column;
}

.section1{
  display: flex;
  align-items: flex-end;
}

.textContainer {
  display: flex; /* Define layout flexível */
  flex-direction: column; /* Coloca os <p> em uma coluna */
  margin-left: 1%;
}

.foto1{
    border-radius: 3%; /* Faz a imagem ficar redonda */
    width: 40%; /* Define 50% do tamanho original */
  }

.p1{
  display: flex;
}

.foto2{
  border-radius: 100%;
  width: 8%;
}

.section2{
  display: flex;
  flex-direction: column;
}

