.footer {
    flex-direction: column;
    background-color: #222;
    color: #fff;
    padding: 3em;
    text-align: center;
    margin: 0em;
}

.button {
    background-color: rgb(84, 84, 84);
    padding: 0.5em 0.5em;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.button a{
    color:white
}

.copy_right {
    margin-top: 1em;
    color: rgb(84, 84, 84);
}

.copy_right span {
    font-weight: bold;
    color: #68509b;
}