.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.nome {
  font-size: 30px;
  text-decoration: none;
  color: white;
}



.link {
  display: flex;
  gap: 30px;
}

.link a {
  font-size: 20px;
  color: #333;
}

.link a:hover {
  color: #68509b;
}