.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 2em;
}


.link a:hover {
  color: #68509b;
  transition: 0.5s;
  transform: scale(1.05);
}